#specialSymbols {
  font-size: 50px;
}

.remove-question-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 20px 40px auto;
  transition: background-color 0.3s ease;
  width: 200px;
}

.remove-question-btn:hover {
  background-color: #c0392b;
}
