.test-starter-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.gotoDashboard {
  margin-top: 50px;
  background-color: #2ecc71;
}

.gotoDashboard:hover {
  background-color: #27ae60;
}
