main {
  display: flex;
  min-height: calc(100vh - 154px);
}

section {
  flex: 10 10 0;
}

aside {
  flex: 3 3 0;
}

header {
  height: 50px;
  background-color: #e4e4e4;
}

footer {
  background-color: #e4e4e4;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
}
